/*Resets*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
input, button {
    cursor: pointer;
    background: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background: #fafafa;
    font-family: Arial, serif;
    font-weight: 500;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
}
.d_flex-flex_d-col{
    display: flex;
    flex-direction: column;
}
.d_flex-ai_c{
    display: flex;
    align-items: center;
}
.d_flex-jc_c-ai_c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-content{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.text-align{
    text-align: center;
}
.border{
    border: 2px solid #3ac5e9;
}
.border-bottom{
    border-bottom: 2px solid #3ac5e9;
}
.b-r_20px{
    border-radius: 20px ;
}.b-r_50px{
    border-radius: 50px ;
}
.circle{
    border-radius: 50%;
}
.bg_cornflowerblue{
    background: cornflowerblue;
}
.bg_darkblue{
    background: #102b3e;
}
.bg_grey{
    background: #cdd7e0;
}
.color_w{
    color: #ffffff;
}
.color_darkblue{
    color: #102b3e;
 }
.h-50px{
    height: 50px;
}
.h-100px{
    height: 100px;
}
.h-150px{
    height: 150px;
}
.h-250px{
    height: 230px;
}
.h-300px{
    height: 300px;
}
.h-400px{
    height: 400px;
}
.h-600px{
    height: 600px;
}
.h-900px{
    height: 900px;
}
.w-150px{
    width: 150px;
}
.w-200px{
    width: 200px;
}
.w-250px{
    width: 250px;
}
.w-300px{
    width: 300px;
}
.w-400px{
    width: 400px;
}
.w-800px{
    width: 800px;
}
.w-1320px{
    width: 1320px;
}
.padding_10px{
    padding: 10px;
}
.padding_0-10px{
    padding: 0 10px;
}
.padding_100px{
    padding: 0 100px;
}
.margin_10px{
    margin: 10px;
}
.margin_50px{
    margin: 50px;
}
.flex-row-gap{
    row-gap: 10px;
}
.flex-row-gap_25px{
    row-gap: 25px;
}
.flex-row-gap_50px{
    row-gap: 50px;
}
.flex-colum-gap_15px{
    column-gap: 15px;
}
.flex-colum-gap_25px{
    column-gap: 25px;
}
._button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 48px;
    border-radius: 37px;
    margin: 40px 0 0;
    background: #122940;
    color: #3ac5e9;
    font-size: 24px;
}
/*-----------------------------------*/
.header{
    position: fixed;
}
.navigator{
    justify-content: end;
}
.logo, i{
    font-size: 50px;
}
.main{
    min-height: 1000px;
    margin-top: 150px;
}
._button:hover{
    background: #6495ed;
    color: #122940;
}
.card:hover{
    border: 1px solid #3ac5e9;
}
.info_card:hover{
    background:#122940 ;
    color: #6494ec;
}
















